[app]
title = Calculator
package.name = calculator
package.domain = org.test
source.dir = .
source.main = main.py
version = 1.0.0
requirements = python3,kivy
orientation = portrait
android.api = 31
android.minapi = 21
android.archs = arm64-v8a
android.accept_sdk_license = True
